 
<h2>Artist Name: <%=@user.artist_name%> </h2>
<p>Email: <%=@user.email%> </p>
<p>Statement: <%=@user.artist_statement%></p>
<br>
<div>
    <a href="/users/<%=@user.id%>/edit">Edit</a>
    <a href="/users/<%=@user.id%>/art_objects">View Art Work</a>
    <a href="/art_objects/new">Add Art Work</a>
    <a href="/users">List of Artists</a>
    <a href="/users/login">Log In</a>
    <a href="/users/logout">Log Out</a>
</div>