 
<h2>Artist Name: <%=@user.artist_name%> </h2>
<p>Email: <%=@user.email%> </p>
<p>Statement: <%=@user.artist_statement%></p>
<br>
<div style="color:rgb(49, 254, 99);">
    <a style="color:rgb(16, 130, 43);" href="/users/<%=@user.id%>/edit">Edit</a>  
    <a style="color:rgb(163, 57, 251);" href="/users/<%=@user.id%>/art_objects">View Art Work</a>  
    <a style="color:rgb(163, 57, 251);" href="/art_objects/new">Add Art Work</a>
    <a style="color:rgb(163, 57, 251);" href="/users">List of Artists</a>
    <a style="color:rgb(163, 57, 251);" href="/users/login">Log In</a>
    <a style="color:rgb(163, 57, 251);" href="/users/logout">Log Out</a>
</div>