<h1>Art Works</h1>
<%@art_objects.each do |art_object|%>
    <h2><%=art_object.title%></h2>
    <h3><%=art_object.user.artist_name%></h3>
    <%if art_object.image != nil%>
        <p><img src="<%=URI.escape(art_object.image)%>" alt="<%=art_object.title%>" style="max-width: 100%;"/></p>
    <%end%>
    <p><%=art_object.date%></p>
    <p><%=art_object.form%></p>
    <p><%=art_object.description%></p>
    <br>
<%end%>
