<h1>Art Works</h1>
<%@art_objects.each do |art_object|%>
    <h2><%=art_object.title%></h2>
    <h3><%=art_object.user.artist_name%></h3>
    <p><%=art_object.image%></p>
    <p><%=art_object.date%></p>
    <p><%=art_object.form%></p>
    <p><%=art_object.description%></p>
    <br>
<%end%>
